<div class="col s6">
   <ul id="vehicle-list" class="collection">
          {{#each cars}}
          <li data-id="{{this.id}}" class="collection-item">

            <a href="{{this.id}}">{{make}}, {{model}}, {{year}}, {{price}}, {{mileage}}, {{status}} </a>

          </li>
          {{/each}}
        </ul>
</div>

{{!-- add button --}}