 {{> nav/nav-block}}
 <div class="col s6">
   <ul id="vehicle-list" class="collection">
          {{#each cars}}
          <li data-id="{{this.id}}" class="collection-item">

            <a href="{{this.id}}">{{make}}, {{model}}, {{year}}, {{price}}</a>

          </li>
          {{/each}}
        </ul>
</div>